@import "_variables";
body {
  margin: 0;
  font-family: Lato, sans-serif;
}
/*heer start*/
.menubr {
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 1030;
}
.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  box-sizing: border-box;
  
@media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
}
i {
  color: #e8e8e8;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
    }
}
@media (min-width: 1600px) {
    .container {
    margin: 0 auto;
    width: 1140px;
    }
}
/*heer end*/
/*user icon start*/
.userIcon {
  display: none;
  position: relative;
  margin-left: 25px;
  margin-right: 42px;
@media (min-width: 768px) {
    display: inline;
}

}

    .cartIconWrap {
        position: relative;

        span {
            display: inline-block;
            width: 19px;
            height: 19px;
            color: white;
            background: $majorColor;
            border-radius: 50%;
            position: absolute;
            text-align: center;
            right: -8px;
            top: -19px;
            font-size: 12px;
            line-height: 19px;
        }
    }

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.searchIcon {
  margin-left: 41px;
}


.brandwrap {
  min-height: 363px;
  position: relative;
}

.brandinsidewrap {
  min-height: inherit;
}

@media (min-width: 768px) {
  .brandinsidewrap {
    display: flex;
  }
  .brandinsidewrap > div {
    width: 50%;
  }
}
.brandleft {
  display: none;
}
@media (min-width: 768px) {
  .brandleft {
    display: block;
  }
}
.brandleft img {
  display: block;
  width: 100%;
  margin-top: 70px;
}
.brandright {
  background: #f1e4e5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  min-height: inherit;
}

@media (min-width: 1600px) {
  .brandright {
    justify-content: flex-start;
  }
}
.brandPromoWrap {
  border-left: 12px solid #f16d7f;
  padding-left: 15px;
  height: 61px;
}

@media (min-width: 768px) {
  .brandPromoWrap {
    height: 78px;
  }
}
@media (min-width: 1600px) {
  .brandPromoWrap {
    margin-left: 64px;
  }
}
.brandPromoWrap div:first-child {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 27px;
}
@media (min-width: 768px) {
  .brandPromoWrap div:first-child {
    font-size: 44px;
    line-height: 33px;
  }
}
@media (min-width: 1600px) {
  .brandPromoWrap div:first-child {
    font-size: 48px;
    line-height: 33px;
  }
}

.brandPromoWrap div:last-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 14px;
}
@media (min-width: 768px) {
  .brandPromoWrap div:last-child {
    margin-top: 25px;
  }
}

@media (min-width: 1600px) {
  .brandPromoWrap div:last-child {
    font-size: 32px;
    margin-top: 21px;
  }
}

.brandPromoWrap span {
  color: #f16d7f;
}

.branddrak {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  margin-top: 74px;
}
.hidden {
  display: none;
}

.menu {
  width: 232px;
  height: inherit;
  background: white;
  margin-left: auto;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 24px;
  box-sizing: border-box;
  position: relative;
  max-height: inherit;
  overflow: auto;
}
.meuclose {
  position: absolute;
  right: 16px;
  top: 16px;
}
.menutitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 16px;
}

.menuunit a {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  color: #6f6e6e;
  margin-left: 21px;
}
.menuheader {
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  line-height: 33px;
}
.offers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
  /*padding-left: 16px;
padding-right: 16px;
margin-top: 32px;
margin-bottom: 32px;*/
}
.offers > div {
  position: relative;
}
@media (min-width: 768px) {
  .offers {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 167px 116px;
    gap: 20px;
  }
  .offeraccesories {
    grid-column: 1/-1;
  }
}

.offers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.offertitle {
  color: white;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}
.offertitlebottom {
  color: #f16d7f;
}
.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
  h2 {
  margin-top: 0;
  margin-bottom: 3px;
  text-align: center;
  color: #222222;
}
}
.featuredtit {
  text-align: center;
  color: #9f9f9f;
  margin-bottom: 64px;
}
.featureditems {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

@media (min-width: 640px) {
  .featureditems {
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 16px;
  }
}

@media (min-width: 1000px) {
  .featureditems {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
.featureditem {
  background: #f8f8f8;
}
.featureditem img {
  width: 100%;
  display: block;
}


.featuredimgwrap {
  position: relative;
}
.featureditem:hover .featuredimgdark {
  display: flex;
}
.featuredimgdark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  justify-content: center;
  align-items: center;
}
.featuredimgdark button {
  background: none;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}
.featuredimgdark button img {
  width: 26px;
  margin-right: 11px;
}
.featureddata {
  padding: 23px 16px 20px;
}
.featuredname {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.featuredtexte {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-bottom: 18px;
}
.featuredprice {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.featuredBrowseBtn {
  border: 1px solid #ff6a6a;
  margin-top: 40px;
  margin-bottom: 96px;
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  color: #f26376;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
}

.featuredBrowseBtn:hover {
  color: white;
  background: #ff6a6a;
}
.services {
  background: #222224;
  padding-top: 48px;
  padding-bottom: 81px;
  padding-left: 14px;
  padding-right: 14px;
}
@media (min-width: 1200px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.services .container {
  display: grid;
  gap: 46px;
}
@media (min-width: 1200px) {
  .services .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px;
  }
}

.servicesunit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicestitle,
.servicestext {
  color: white;
}
.servicestitle {
  font-size: 19.96px;
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 15px;
}
.servicestext {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  max-width: 347px;
}
.subscribe {
  background: url(images/subscribe.jpg) no-repeat;
  background: url(../images/subscribe.jpg) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 109px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1200px) {
  .subscribe .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 97px;
    padding-bottom: 109px;
  }
}
.subscribeleft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscriberight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscriberight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}
@media (min-width: 1200px) {
  .subscriberight {
    margin-top: initial;
  }
}
.subscribetitle {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}

.subscribeusertext {
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #222224;
  max-width: 330px;
}
.subscribetitle,
.subscribetext {
  max-width: 571px;
  text-align: center;
}
.subscribetext {
  font-size: 14px;
  color: #222224;
  margin-bottom: 22px;
}
.subscribeform {
  height: 47px;
}
.subscribeform input {
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 21px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  float: left;
  width: 185px;
}
.subscribeForm input::-webkit-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribeForm input::-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribeForm input:-ms-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribeForm input:-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribeform button {
  height: inherit;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  background: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 17px;
}
.footer {
  background: #222222;
  padding: 43px 20px 10px;
}
@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footerleft {
  display: flex;
}
.footer a {
  color: black;
  background: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer a:hover {
  background: #f16d7f;
  color: white;
}
.footer a:not(:last-child) {
  margin-right: 7px;
}
.footerright {
  color: white;
  margin-top: 40px;
}
@media (min-width: 767px) {
  .footerright {
    margin-top: initial;
  }
}
/*INDEX file end*/
/*CATALOG file start*/
.newarrivals {
  background: #f8f3f4;
  min-height: 148px;
  margin-top: 70px;
}
.newarrivals h1 {
  margin: 24px 0 32px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
@media (min-width: 768px) {
  .newarrivals h1 {
    margin: 0;
  }
}
.newarrivals .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: inherit;
}
@media (min-width: 768px) {
  .newarrivals .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .newarrivals .container {
    padding: 0 16px;
  }
}
.newarrivals nav a,
.newarrivals nav span {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.newarrivals nav a {
  text-decoration: none;
}
.newarrivals nav span {
  margin: 0 3px;
}
.newarrivals nav a:last-of-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
/*CATALOG file en*/

/*silder start*////
.slider {
  min-height: 624px;
  border: 1px solid #EAEAEA;
  background: #F7F7F7;
  position: relative;
  .sliderImage {
  max-width: 100%;
  object-fit: cover;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

  .sliderLeftArrow {
  left: 0;
  background-image: url(../images/slider/leftArrow.svg);
  width: 47px;
height: 47px;
background-color: rgba(42, 42, 42, 0.15);
background-repeat: no-repeat;
background-position: center center;
position: absolute;
top: calc(50% - 47px / 2);
cursor: pointer;
&:hover {
  background-image: url(../images/slider/leftArrowHover.svg);
}
}

.sliderRightArrow {
  right: 0;
  background-image: url(../images/slider/rightArrow.svg);
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 47px / 2);
  cursor: pointer;
  &:hover {
  background-image: url(../images/slider/rightArrowHover.svg);
}
}

@media (min-width: 1600px) {
  min-height: 777px;
  }
    @media (min-width: 1600px){
    .sliderImage {
  margin-top: 11px;
}
  }
  @media (min-width: 768px){
  .sliderImage {
  margin-top: 30px;
}
  }
}

/***aaaaaa*/
.carousel-item .sliderImage {
  max-width: 100%;
object-fit: cover;
/* margin-top: 85px; */
margin-left: auto;
margin-right: auto;
display: block;
max-height: 624px;
}

.carousel-wrapper{
min-height: 624px;
border: 1px solid #EAEAEA;
background: #F7F7F7;
position: relative;
}
.carousel-item {
position: absolute;
right: 0;
opacity: 0;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
background-size: contain;
background-position: center;
.sliderImage {
  max-width: 100%;
object-fit: cover;
/* margin-top: 85px; */
margin-left: auto;
margin-right: auto;
display: block;
max-height: 624px;
}
}
.arrow{
width: 47px;
height: 47px;
background-color: rgba(42, 42, 42, 0.15);
background-repeat: no-repeat;
background-position: center center;
position: absolute;
top: calc(50% - 47px / 2);
cursor: pointer;
}

.arrow-prev{
  left:0;
  position:absolute;
  top:50%;
  background-image: url(../images/slider/leftArrow.svg);
}
.arrow-prev:hover{
  background-image: url(../images/slider/leftArrowHover.svg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  background-image: url(../images/slider/rightArrow.svg);
  }
.arrow-next:hover{
  background-image: url(../images/slider/rightArrowHover.svg);
}

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
    background-size: 10px;
    background-position: 11px 50%;
    width: 30px;
    height: 30px;
      }
    }

/*Select every element*/
[id^="item"] {
    display: none;
  }
.item-1 {
    z-index: 2;
    opacity: 1;
  /* background:url('../images/slider/girl.jpg'); */
  }
.item-2{
  /* background:url('../images/slider/girl1.jpg'); */
     background-position: center;
background-repeat: no-repeat;
}
.item-3{
  /* background:url('../images/slider/girl2.jpg'); */
     background-position: center;
background-repeat: no-repeat;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
/**silder end**/
.collection {
  padding: 64px 24px;
  border: 1px solid #EAEAEA;
  margin-bottom: 64px;
  background: white;
    @media (min-width: 768px){
  margin-bottom: 129px;
}
.collectionTitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
.collectionDividerPink {
  height: 3px;
  width: 63px;
  background: #f16d7f;
  margin: 0 auto 12px;
}
.collectionDesc {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
  margin-bottom: 32px;
}
.collectionPrice {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #f16d7f;
  text-align: center;
  margin-bottom: 32px;
}
.collectionText {
  font-weight: 300;
  font-size: 14px;
  line-height: 143.1%;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
  max-width: 326px;
  margin-left: auto;
  margin-right: auto;
 @media (min-width: 768px){
  max-width: 555px;
}
}
.collectionDividerGrey {
  height: 1px;
width: 175px;
margin: 0 auto 49px;
background: #EAEAEA;
  @media (min-width: 768px){    
  width: 642px;
}
}
.collectionSizes {
  font-size: 10px;
  line-height: 12px;
  color: #6F6E6E;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 304px;
}
button {
  background: none;
  border: 1px solid #f16d7f;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  display: flex;
  align-items: center;
  padding: 15px 24px;
  margin: 0 auto;
}
}



/*filters start*/
.filters {
  margin-top: 24px;
  margin-bottom: 32px;
}
@media (min-width: 1600px) {
  .filters {
    margin-top: 51px;
    margin-bottom: 64px;
  }
}
.filters .container {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .filters .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1600px) {
  .filters .container {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
}

.filtersRight {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6f6e6e;
}
@media (min-width: 1600px) {
  .filtersRight {
    font-size: 14px;
    line-height: 17px;
    margin-left: 320px;
  }
}
.filtersRight img {
  position: relative;
  bottom: 1px;
  margin-left: 9px;
}
.filtersRight > div:not(:last-child) {
  margin-right: 14px;
}
@media (min-width: 375px) {
  .filtersRight > div:not(:last-child) {
    margin-right: 25px;
  }
}
.filtersLeft .filtersLabel {
  display: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
@media (min-width: 768px) {
  .filtersLeft .filtersLabel {
    display: inline;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}
.filtersLeft .filtersIcon {
  width: 37px;
  height: 25px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.filterslabelpink {
  color: #ef5b70 !important;
  left: 16px;
  top: 13px;
}

@media (min-width: 768px) {
  .filtersLeft .filtersIcon {
    width: 15px;
    height: 10px;
    margin-left: 11px;
  }
}
.filtersLeft {
  position: relative;
}

.hiddenn {
  display: none;
}
.filterPopup {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  /* min-height: 531px; */
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  overflow-y: auto;
}
.filterCategoryHeader {
  font-size: 14px;
  line-height: 37px;
  color: #ef5b70;
  padding-left: 11px;
  min-height: 37px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}
.filterCategoryHeader:before {
  content: "";
  width: 5px;
  min-height: inherit;
  background: #ef5b70;
  position: absolute;
  left: 0;
  top: 1px;
}
.filterCategory:not(:last-child) {
  margin-top: 24px;
}
.filterCategory a {
  display: block;
  text-decoration: none;
  padding-left: 34px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.filterCategory a:not(:last-child) {
  margin-bottom: 11px;
}
/*size start*/
.filtersizewrap {
  cursor: pointer;
}
.filterSIZE {
  position: relative;
}
.filtersizes {
  position: absolute;
  left: 0;
  top: 25px;
  width: 79px;
  height: 103px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px;
  box-sizing: border-box;
  font-size: 14px;
  color: #6f6e6e;
  z-index: 1;
}
.filterSIZE > div:not(:last-child) {
  margin-bottom: 4px;
}
/*size end*/
/* pagination start */
.pagination {
  width: 284px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 13px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  border-radius: 3px;
  border: 1px solid #ebebeb;
}
.pagination a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
}
.pagination a:hover {
  color: #ef5b70;
}
/* pagination end */
/*filters end*/
/*CATALOG file end*/
.cart {
    margin-top: 39px;

    @media (min-width: 375px) {
        padding: 0 9px;
    }

    @media (min-width: 768px) {
        padding: 0 17px;
    }

    @media (min-width: 1600px) {
        display: flex;
        justify-content: space-between;
    }

    .cartLeft {
        margin-bottom: 30px;
    }

    .cartLeftButtons {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        @media (min-width: 768px) and (max-width: 1599px) {
            justify-content: center;
        }

        button {
            width: 175px;
            height: 33px;
            background: white;
            border: 1px solid #A4A4A4;
            font-size: 12px;
            line-height: 14px;
            color: #575757;
            font-family: inherit;
            text-transform: uppercase;

            @media (min-width: 768px) and (max-width: 1599px) {
                margin-left: 48px;
            }

            @media (min-width: 768px) {
                width: 225px;
                height: 50px;

                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .cartUnit {
        background: white;
        filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
        position: relative;

        @media (min-width: 1600px) {
            width: 652px;
        }

        &:before {
            width: 10px;
            height: 11px;
            content: '';
            display: block;
            position: absolute;
            right: 12px;
            top: 17px;
            background: url(#{$imagesPath}/cart/closeIcon.svg) no-repeat;
            background-size: 100%;

            @media (min-width: 768px) {
                width: 18px;
                height: 18px;
                background-size: contain;
            }
        }

        &:not(:first-child) {
            margin-top: 32px;

            @media (min-width: 1600px) {
                margin-top: 40px;
            }
        }

        .cartUnitInside {
            display: flex;
        }

        .cartProduct {
            margin: 13px 17px;
        }

        .cartImg {
            width: 143px;
            height: 188px;

            @media (min-width: 768px) {
                width: 262px;
                height: 306px;
            }
        }

        .cartProductName {
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-bottom: 25px;

            @media (max-width: 374px) {
                padding-right: 20px;
            }

            @media (min-width: 768px) {
                font-size: 24px;
                line-height: 29px;
            }
        }

        .cartProductPrice span {
            color: $majorColor;
            margin-left: 3px;
        }

        .cartProductPrice,
        .cartProductColor,
        .cartProductSize,
        .cartProductQty {
            font-size: 14px;
            line-height: 17px;
            color: #575757;

            @media (min-width: 768px) {
                font-size: 22px;
                line-height: 26px;
            }
        }

        .cartProductColor,
        .cartProductSize,
        .cartProductQty {
            margin-top: 4px;

            @media (min-width: 768px) {
                margin-top: 6px;
            }
        }

        .cartProductQty input {
            width: 24px;
            height: 15px;
            border: 1px solid #EAEAEA;
            margin-left: 25px;
            text-align: center;
            color: #656565;
            font-size: 10px;
            line-height: 12px;

            @media (min-width: 768px) {
                width: 44px;
                height: 25px;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    .cartRight {
        @media (min-width: 1600px) {
            width: 360px;
        }
    }
}

.hidden {
    display: none;
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;

    @media (min-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (min-width: 1600px) {
        padding-left: 0;
        padding-right: 0;
    }

    .featuredItems {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;

        @media (min-width: 640px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 18px;
            column-gap: 16px;
        }

        @media (min-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }

    .featuredItem {
        background: #f8f8f8;

        &:hover .featuredImgDark {
            display: flex;
        }

        &:last-child {
            display: none;

            @media (min-width: 1000px) {
                display: block;
            }
        }

        img {
            width: 100%;
            display: block;
        }

        .featuredImgWrap {
            position: relative;
        }

        .featuredImgDark {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(58, 56, 56, 0.86);
            display: none;
            justify-content: center;
            align-items: center;

            button {
                background: none;
                border: 1px solid white;
                color: white;
                display: flex;
                align-items: center;
                padding: 10px 14px;
                font-size: 14px;
                font-family: inherit;

                img {
                    width: 26px;
                    height: 24px;
                    margin-right: 11px;
                }
            }
        }

        .featuredData {
            padding: 23px 16px 20px;

            .featuredName {
                font-size: 13px;
                line-height: 16px;
                color: #000000;
            }

            .featuredText {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                margin-top: 12px;
                margin-bottom: 18px;
            }

            .featuredPrice {
                font-size: 16px;
                line-height: 19px;
                color: $majorColor;
            }
        }
    }
}

.subscribe {
    background: url(#{$imagesPath}/subscribe.jpg) no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 109px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 1200px) {
        padding-top: 97px;
        padding-bottom: 126px;
    }

    .container {
        @media (min-width: 1200px) {
            margin: 0 auto;
            width: 1140px;
            display: flex;
            justify-content: space-between;
        }
    }

    .subscribeLeft {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subscribeUserText {
            margin-top: 30px;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            color: #222224;
            max-width: 330px;
        }
    }

    .subscribeRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 65px;

        @media (min-width: 1200px) {
            margin-top: initial;
        }

        .subscribeTitle {
            font-weight: 700;
            font-size: 24px;
            color: #222224;
        }

        .subscribeTitle,
        .subscribeText {
            max-width: 271px;
            text-align: center;
        }

        .subscribeText {
            font-size: 14px;
            color: #222224;
            margin-bottom: 22px;
        }

        .subscribeForm {
            height: 47px;

            input {
                height: inherit;
                background: #e1e1e1;
                border: none;
                padding: 6px 21px;
                box-sizing: border-box;
                border-top-left-radius: 28px;
                border-bottom-left-radius: 28px;
                float: left;
                width: 185px;

                &::-webkit-input-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }

                &::-moz-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }

                &:-ms-input-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }

                &:-moz-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }
            }

            button {
                height: inherit;
                border: none;
                color: white;
                font-family: inherit;
                font-size: 14px;
                line-height: 17px;
                background: $majorColor;
                border-top-right-radius: 28px;
                border-bottom-right-radius: 28px;
                padding: 0 17px;
            }
        }
    }
}
.cartRight {
        @media (min-width: 1600px) {
            width: 360px;
        }

        @media (min-width: 768px) and (max-width: 1599px) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 374px) {
            padding: 0 9px;
        }

        .cartRightHeader {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        .cartRightForm {

            @media (max-width: 1599px) {
                margin-top: 20px;
            }
            
            @media (min-width: 768px) and (max-width: 1599px) {
                flex-grow: 1;
                margin-right: 15px;
            }

            input {
                display: block;
                height: 45px;
                padding: 13px 17px;
                font-family: inherit;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
                box-sizing: border-box;
                border: 1px solid #A4A4A4;
                width: 100%;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }

            button {
                margin-top: 23px;
                border: 1px solid #A4A4A4;
                font-family: inherit;
                font-weight: normal;
                font-size: 11px;
                line-height: 13px;
                color: #575757;
                width: 101px;
                height: 35px;
                background: white;
            }
        }

        .cartTotal {
            background: #F5F3F3;
            height: 214px;
            padding: 39px 43px 42px;
            box-sizing: border-box;

            @media (max-width: 767px) {
                margin-top: 48px;
            }

            @media (min-width: 768px) {
                margin-top: 57px;
            }

            .cartSubtotal,
            .cartGrandtotal {
                text-align: right;
            }

            .cartSubtotal {
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;

                span {
                    margin-left: 20px;
                }
            }

            .cartGrandtotal {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                margin-top: 12px;
                margin-bottom: 21px;

                span {
                    margin-left: 20px;
                    font-weight: bold;
                    color: $majorColor;
                }
            }

            hr {
                margin-top: 0;
                margin-bottom: 17px;
                background: #E2E2E2;
                height: 1px;
                border: none;
            }

            button {
                background: $majorColor;
                width: 100%;
                border: none;
                height: 50px;
                font-family: inherit;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;

                @media (min-width: 375px) {
                    width: 273px;
                }
            }
        }
    }